@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
    --color-blue: #4897D4;
    --color-purple: #5C2FCA;
    --color-green: #1E864B;
    --color-orange:#FE7005;
    --color-clean: #F9F9F9;
    --color-white: #fff;
    --color-black: #000;
    --font-texto: 'Inter', sans-serif;
    --font-titulo: 'Cairo', sans-serif;
}

/* banner pagina */
.page-img{
    background-image: url(../img/contato.png); 
}


/* .fale-conosco {
    display: flex;
    width: 700px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: #5C2FCA;
    left: 20%;
    font-size: 36px;
    position: relative;
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
    margin-top: 1%;

 }

 .info-container{
    width: 600px;
    text-align: justify;
    align-items: center;
    
    

 }

.container p, h4, li {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    position: relative;
    

}

.info-container h4 {
    margin-top: 2%;
    font-size: 20px;

}

li {
    margin: 10px;
}

.icones-sociais {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    margin: 10px;
    
    
}

.icones-sociais a {
    margin: 0;
}

.icones-sociais a {
    text-decoration: none; 
   
}

.formulario-container{

    width: 500px;
    align-items: top;
    padding: 2%;
    margin-top: -3%;
    flex-direction: column;


}

.form-group input {
    outline: unset;
    width: 450px;
    height: 250px;
    border: 1px solid #FE7005;
    border-radius: 8%;
    margin-top: 4%;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    border-radius: 8px;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;


}

.form-group textarea{
    outline: unset;
    width: 450px;
    padding: 3rem;
    border: 1px solid #FE7005;
    border-radius: 8%;
    margin-top: 3%;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;

}

.botao{
    width: 450px;
    background-color: #FE7005;
    color: #fff;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    border: 1px solid #FE7005;
    transition: 0.3s;
    
}

.botao:active {
    background-color: #fff;
    color: #FE7005;
    transition: 0.3s;
} */

.map {
    width: 100%;
    margin: none;
    margin-top: 10%;
   
}

    /* ----TABLET---- */
@media screen and (min-width: 1025px) and (max-width: 1300px) {

}    
 
    /* ----MOBILE---- */
@media screen and (max-width: 1024px) {
   
}