@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
    --color-blue: #4897D4;
    --color-purple: #5C2FCA;
    --color-green: #1E864B;
    --color-orange:#FE7005;
    --color-clean: #F9F9F9;
    --color-white: #fff;
    --color-black: #000;
    --font-texto: 'Inter', sans-serif;
    --font-titulo: 'Cairo', sans-serif;
}

/* banner pagina */
.page-img{
    background-image: url(../img/contato.png); 
}

.page-img h1::after {
    margin-bottom: 10px; /* corrigindo erro da posição da linha do titulo */
}

.redes p{
    font-family: var(--font-texto); /*corrigindo texto do footer */
}

/* layout */
.contato-layout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 4rem 6%;
  }
  
.form-box {
    flex: 1 1 45%;
    background-color: var(--color-clean);
    border: 2px solid var(--color-orange);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.form-box h2 {
    font-family: var(--font-titulo);
    font-size: 36px;
    color: var(--color-purple);
    margin-bottom: 1rem;
    text-align: center;
}
  
.form-box p {
    font-family: var(--font-texto);
    font-size: 18px;
    margin-bottom: 2rem;
    color: var(--color-black);
}
  
.btn-formulario {
    background-color: var(--color-orange);
    color: var(--color-white);
    font-family: var(--font-titulo);
    font-size: 18px;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid var(--color-orange);
}
  
.btn-formulario:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
}
  
.info-box {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-texto);
    text-align: left;
}
  
.subtitulo-contato {
    font-family: var(--font-titulo);
    font-size: 36px;
    color: var(--color-purple);
    text-align: center;
}
  
.info-box h4 {
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-texto);
}
  
.info-box p,
.info-box li {
    font-size: 18px;
    line-height: 1.6;
    
}
  
.info-box ul {
    padding-left: 1.8rem;
}

.info-box .redes-container a {
    color: var(--color-orange); 
    padding: 5px;
    font-size: 24px;
    font-weight: 400; 
}
  
.info-box .redes-container a:hover {
    color: var(--color-black); 
}
  
/* mapa */
.map {
    width: 100%;
    margin: none;
    margin-top: 10%;
   
}

    /* ----TABLET---- */
@media screen and (min-width: 1025px) and (max-width: 1300px) {

}    
 
    /* ----MOBILE---- */
@media screen and (max-width: 1024px) {
    .page-img h1::after {
        margin-bottom: 6px; /* corrigindo erro da posição da linha do titulo */
    }

    .contato-layout {
        flex-direction: column;
        padding: 2rem;
    }

    .info-box .redes-container {
        justify-content: flex-start;
        padding-left: 0;
    }
    
    .form-box,
    .info-box {
        width: 100%;
    }
    
    .form-box {
        padding: 2rem 1.5rem;
        margin-top: 2rem;
    }
    
    .btn-formulario {
        width: 100%;
    }
}