@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
  --color-blue: #4897D4;
  --color-purple: #5C2FCA;
  --color-green: #1E864B;
  --color-orange:#FE7005;
  --color-clean: #F9F9F9;
  --color-white: #fff;
  --color-black: #191919;
  --font-texto: 'Inter', sans-serif;
  --font-titulo: 'Cairo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* body{
  background-color: #6c0505;
} */

a {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  margin: 1.8rem;
}

p{
  font-family: var(--color-black);
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* NAV */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  height:80px ;
}

nav a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 500;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  margin: 1.8rem;
}

nav a:hover {
  font-weight: bold;
  border-bottom: 4px solid var(--color-orange);
}

.logo {
  height: 6.25rem;
  width: auto;
  padding-left: 5rem;
  padding-right: 6.25rem;
}

#btn-header {
  background-color: var(--color-orange);
  color: var(--color-clean);
  font-family: var(--font-titulo);
  font-size: 18px;
  font-weight: 650;
  border: none;
  border-radius: 10px;
  height: 2.5rem;
  border: 2px solid var(--color-orange);
  padding: 0.2rem 2rem;
}

#btn-header:hover {
  background-color: #fff;
  color: #FE7005;
  border: 2px solid #FE7005;
}

.hamburguer,
.close-menu {
  display: none;
}

.hamburguer {
  font-size: 36px;
  background: none;
  border: none;
  font-weight: bolder;
  color: var(--color-orange);
  cursor: pointer;
  margin-right: 1rem;
}

.close-menu {
  font-size: 50px;
  background: none;
  border: none;
  font-weight: bolder;
  color: var(--color-orange);
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.logo-menu {
  display: none;
}

/* BANNER DAS PAGINAS */
.page-img {
  display: flex;
  width: 100%;
  height: 350px;
  background-size: cover;
  margin: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.page-img h1 {
  color: var(--color-white);
  font-family: var(--font-titulo);
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 64px;
  position: relative;
  margin-top: 7%;
  display: inline-block; 
  margin: 0; 
}

.page-img h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 100%;
  background: var(--linear-gradient);
  border-radius: 15px;
}


/* TITULOS DAS SESSOES */
.titulos {
  font-family: var(--font-titulo);
  font-weight: 800;
  color: var(--color-orange) ;
  text-align: center ;
  position: relative ;
  font-size: 64px ;
  margin-bottom: 30px ;
  display: inline-block ;
  margin-top: 2%;
}

.titulos::after {
  position: absolute;
  content: '';
  height: 6px;
  width: 100%; 
  background: var(--linear-gradient);
  bottom: -8px;
  border-radius: 15px;
  left: 0; 
}

/* TEXTO DAS SESSOES */
.texto {
  color: var(--color-black);
  font-size: 20px;
  font-family: var(--font-texto);
  text-align: center;
  width: 80%;
}

/* FOOTER */
footer {
  background-color: #0e0e0e;

}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-blue);
}

.footer-logo img {
  width: 110px;
}

.footer-logo p {
  color: var(--color-white);
  font-size: 20px;
  font-family: var(--font-titulo);
}

.redes-sociais .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.redes-sociais .nav-bar a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 30px;
}

.redes-sociais .nav-bar a:hover {
  color: var(--color-orange);
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes-sociais .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--color-white);
  width: 35%;
  padding-bottom: 30px;

}

.redes-sociais .redes p {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.redes-container a {
  color: var(--color-white);
  padding: 0;
  margin: 5px;
  font-size: 24px;
  font-weight: 400; 
}

.redes-container a:hover {
  color: var(--color-orange); 
}

.direitos {
  background-color: rgb(25, 25, 25, 0.95);
  color: var(--color-white);
  font-family: var(--font-titulo);
  text-align: center;
  padding: 15px 20px;
} 

.direitos p{
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
}

.creditos {
  font-size: 13px;
  color: transparent;
  transition: color 0.3s ease;
  margin-top: 6px; 
}

.creditos a {
  color: #6a6a6a;
  font-size: 16px;
  text-decoration: none;
}

.creditos a:hover {
  color: var(--color-orange);
}


/* TABLET */
@media (max-width: 1300px) {
  header {
    padding-right: 2rem;
  }

  .logo {
    padding-left: 1.5rem;
    padding-right: 2rem;
    height: 5rem;
  }

  nav a {
    margin: 1rem;
    font-size: 18px;
  }

  #btn-header {
    font-size: 18px;
    padding: 0.3rem 1.2rem;
  }
}


/* MOBILE */
@media screen and (max-width: 1024px) {

  /* NAV */
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
    align-items: center;
  }

  nav.show {
    right: 0;
  }

  .logo-menu {
    display: block;
    width: 120px;
    margin: 0 auto 0.5rem;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 48px;
    background: none;
    border: none;
    color: var(--color-orange);
    cursor: pointer;
  }
  .hamburguer {
    display: block;
    position: absolute;
    right: 20px;
  }

  nav a {
    font-size: 24px;
    text-align: center;
    margin: 0.2rem 0;
    text-decoration: none;
  }

  /* FOOTER */
  .footer-logo img {
    width: 90px;
  }

  .footer-logo p {
    padding: 1px 20px; 
    text-align: center;
    font-size: 16px;
    width: 90%;
  }

  .redes-sociais .nav-bar {
    flex-direction: column;
    gap: 8px;
    padding: 20px 0;
  }

  .redes-sociais .nav-bar a {
    padding: 0;
    margin: 0;
    font-size: 18px;
  }

  .redes-sociais .redes {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0 30px 0;
  }

  .redes-sociais .redes p {
    font-size: 20px;
  }

  .redes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .redes-container a {
    font-size: 22px;
  }

  .direitos p {
    font-size: 14px;
    padding: 0 10px;
  }

  .creditos a {
    font-size: 13px;
    display: block;
    margin-top: 5px;
  }

  
}