@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);

}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
}

/*conteúdo fique visível abaixo do header */
main {
  padding-top: 100px; /* deve ser maior ou igual à altura do header */
}

/* NAV */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

/* header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  height: 80px ;
} */

nav a {
  text-decoration: none;
  color: #191919;
  font-weight: 500;
}

a {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  margin: 1.8rem;
  transition: 0.3s;
}

a:hover {
  font-weight: bold;
  border-bottom: 4px solid #FE7005;
  transition: 0.3s;
}

.logo {
  height: 6.25rem;
  width: auto;
  padding-left: 5rem;
  padding-right: 6.25rem;
}

#btn-header {
  background-color: #FE7005;
  color: #fff;
  font-family: "Cairo", sans-serif;
  text-decoration: none;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 2.5rem;
  padding: 0 1.8rem;
  border: 2px solid #FE7005;
  transition: 0.3s;
}

#btn-header:hover {
  background-color: #fff;
  color: #FE7005;
  border: 2px solid #FE7005;
}



/* FOOTER */

footer {
  background-color: #0e0e0e;

}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #4897D4;
}

.footer-logo img {
  width: 175px;
}

.footer-logo p {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
  margin-top: 20px;
}

.redes-sociais .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.redes-sociais .nav-bar a {
  text-decoration: none;
  color:#ffffff;
  font-size: 24px;
  font-weight: 400;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes-sociais .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  width: 35%;
  font-weight: 400;
  padding-bottom: 30px;

}

.redes-sociais .redes p {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.redes-container a {
  color: white;
  padding: 0;
  margin: 5px;
  font-size: 24px;
  font-weight: 400;
}

.direitos {
  background-color: rgb(25, 25, 25, 0.95);
  color: #ffffff;
  text-align: center;
  padding: 30px;
  font-size: 16px;
  font-weight: 400;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}