@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
    --color-blue: #4897D4;
    --color-purple: #5C2FCA;
    --color-green: #1E864B;
    --color-orange:#FE7005;
    --color-clean: #F9F9F9;
    --color-white: #fff;
    --color-black: #000;
    --font-texto: 'Inter', sans-serif;
    --font-titulo: 'Cairo', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.75rem;
    box-sizing: border-box;
}

.content {
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.texto-container {
    text-align: justify;
    font-family: var(--font-texto);
    margin-top: 20px;
}

.texto-container p {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--font-texto);
}

#subtitulo {
    color: var(--color-purple);
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 36px;
    font-family: var(--font-titulo);

}

#img-container {
    min-width: 25vw;
    width: 100%;
    /* border-radius: 55px; */


}

#btn-saiba-mais {
    padding: 0.625rem 1rem;
    border-radius: 8px;
    background-color: var(--color-orange);
    border: none;
    color: var(--color-white);
    font-family: var(--font-titulo);
    font-weight: 700;
    float: right;
    font-size: 20px;
    border: 2px solid var(--color-orange);
}

#btn-saiba-mais:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
}


/* SESSAO IMPACTO */
.container-impacto {
    width: 100%;
    min-height: 500px; /* ou outra altura adequada */
    background-image: url("../img/impacto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-impacto {
    color: var(--color-white);
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    position: relative;
    display: inline-block;
    margin-top: 6vh;
}

.titulo-impacto::after {
    position: absolute;
    content: '';
    height: 6px;
    width: 100%; 
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
    left: 0; 
}

.container-dados {
    display: flex;
    flex-direction: row;
    color: var(--color-white);
    font-size: 24px;
    font-family: var(--font-texto);
    justify-content: space-around;
    margin: 10%;
    width: 100%;
    max-width: 1500px;
}

.dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 15%;
    
}

.titulo-dados {
    color: #4897D4;
    font-size: 64px;
    font-family: var(--font-titulo);
    font-weight: 800;
    
    
}

.container-dados p {
    color: #ffffff;
    font-size: 24px;
    font-family: var(--font-texto);
    text-align: center;
}

/* SESSAO LOJA */
.titulo-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.titulo-produto {
    align-items: center;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 0px;
}

.preço {
    color: #5C2FCA;
    font-size: 64px;
    font-family: "cairo";
    font-weight: 800;
    margin: 0;
    align-items: center;

}

.btn-loja {
    background-color: #FE7005;
    color: #f9F9F9;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border: 1px solid #FE7005
}

.btn-loja:active {
    background-color: #fff;
    color: #FE7005;
}

.camiseta {
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    margin-bottom: 0;
    /* justify-content: end; */
}

.img-camiseta {
    width: 500px;
    align-items: center;
    text-align: center;
    margin: 10%;
    z-index: 2;
}

.caneca {
     display: flex;
     width: 100%;
     height: 600px;
     align-items: center;
     /* justify-content: space-between; */
     justify-content: end;
     background-color: #d9d9d9;
     clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
     padding: 3rem 5%;
     /* margin-top: -50px; para encostar na camiseta */
     position: relative;
     /* z-index: 1; */
}

.img-caneca {
    display: flex;
    width: 500px;
    margin: 10%;
    /* padding-bottom:230px; */
    z-index: 2;
    align-items: center;
    text-align: center;
}


/* SESSAO PROJETOS */
.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    margin-top: 28px;
    gap: 18px;
}

.projetos * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projetos img {
    display: block;
}

.sustentabilidade {
    text-align: center;
    background-color: #1e864b;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    /* width: 384px; */
}

.profissional {
    text-align: center;
    background-color: #5c2fca;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    /* width: 384px; */
}

.esporte {
    text-align: center;
    background-color: #4897D4;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    /* width: 384px; */
}

.projeto-titulo {
    color: var(--color-white);
    font-size: 28px;
    font-family: var(--font-titulo);
    font-weight: bold;
    padding: 15px 0; 
    margin-top: auto;
}

/* SESSAO NOS ACOMPANHE */
.nos-acompanhe {
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.moral-2 {
    height: 497px;
    width: 100%;
    background-color: #4897D4;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
    padding-top: 0px;

}

.moral-2 a {
    background-color: #ffffff;
    padding: 0px 10px 10px 120px;
    width: 384px;
    height: 58px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 35px;
    display: flex;
}

.icone {

    width: 100px;
    position: absolute;
    top: -10px;
}

.moral2-insta {
    translate: 0px -14px;
}

.container-img {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #4897D4;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
}

.moral2-img img {
    border-radius: 15px;
}

.casa-formacao {
    height: 497px;
    width: 100%;
    background-color: #5C2FCA;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
    padding-top: 0px;

}

.casa-formacao .icone {
    rotate: 24deg;
    top: -20px;
    right: 20px;
}

.casa-formacao .container-img {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #5C2FCA;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;

}

.casa-insta {
    display: flex;
    justify-content: right;
    translate: -70px -15px;
}

.casa-insta a {
    background-color: #ffffff;
    padding: 0px 10px 10px 25px;
    width: 720px;
    height: 58px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 35px;
    display: flex;

}

.parceiros h1 {
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
    color: #FE7005;
    text-align: center;
    margin: 2%;
    font-size: 64px;
    position: relative;
    margin-bottom: 50px;
}

.parceiros h1::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 255px;
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
}


