@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
    --color-blue: #4897D4;
    --color-purple: #5C2FCA;
    --color-green: #1E864B;
    --color-orange:#FE7005;
    --color-clean: #F9F9F9;
    --color-white: #fff;
    --color-black: #000;
    --font-texto: 'Inter', sans-serif;
    --font-titulo: 'Cairo', sans-serif;
}

/* banner pagina */
.page-img{
    background-image: url(../img/participe.png);
}


#participe {
    padding: 4rem 2rem;
    text-align: center;
}
  

.bloco-participe {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 1rem; 
    margin: 4rem auto;
    flex-wrap: wrap;
    max-width: 1600px;
    padding: 0 1rem;
    text-align: left;
    margin-top: 2rem;
}

.bloco-texto {
    flex: 1 1 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloco-texto p {
    font-family: var(--font-texto);
    font-size: 16px;
    color: var(--color-text);
    margin-bottom: 0.2rem;
    line-height: 1.6;
}

.btn-participe {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    background-color: var(--color-orange);
    border: 2px solid var(--color-orange);
    color: var(--color-white);
    font-family: var(--font-titulo);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase; 
    text-decoration: none;
    width: fit-content; 
    margin-left: -4px;
}

.btn-participe:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
}

.bloco-imagem {
    flex: 1 1 400px;
    text-align: center;
}

.bloco-imagem img {
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: auto;
}



    /* ----TABLET---- */
@media screen and (min-width: 1025px) and (max-width: 1300px) {

}    
         
    /* ----MOBILE---- */
@media screen and (max-width: 1024px) {
    .bloco-participe {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 0.5rem;
      }
    
      .bloco-texto, .bloco-imagem {
        flex: 1 1 100%;
      }
    
      .bloco-imagem img {
        width: 100%;
        border-radius: 20px;
        margin: 1rem 0;
        
      }
    
      .btn-participe {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        margin-left: 0;
      }         
}
    