@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
    --color-blue: #4897D4;
    --color-purple: #5C2FCA;
    --color-green: #1E864B;
    --color-orange:#FE7005;
    --color-clean: #F9F9F9;
    --color-white: #fff;
    --color-black: #000;
    --font-texto: 'Inter', sans-serif;
    --font-titulo: 'Cairo', sans-serif;
}

/* banner pagina */
.page-img{
    background-image: url(../img/participe.png);
}


#participe {
    padding: 4rem 2rem;
    text-align: center;
}

/* PARA PARTICIPAR */
.bloco-participe {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 1rem; 
    margin: 4rem auto;
    flex-wrap: wrap;
    max-width: 1600px;
    padding: 0 1rem;
    text-align: left;
    margin-top: 2rem;
}

.bloco-texto {
    flex: 1 1 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloco-texto p {
    font-family: var(--font-texto);
    font-size: 16px;
    color: var(--color-text);
    margin-bottom: 0.2rem;
    line-height: 1.6;
}

.btn-participe {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    background-color: var(--color-orange);
    border: 2px solid var(--color-orange);
    color: var(--color-white);
    font-family: var(--font-titulo);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase; 
    text-decoration: none;
    width: fit-content; 
    margin-left: -4px;
}

.btn-participe:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
}

.bloco-imagem {
    flex: 1 1 400px;
    text-align: center;
}

.bloco-imagem img {
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: auto;
}

/* PERGUNTAS FREQUENTES */
.faq {
    padding: 4rem 2rem;
    max-width: 1600px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: -8%;
}
  
.faq-item {
    margin-bottom: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
  
.faq-question {
    width: 100%;
    background-color: var(--color-purple); 
    color: var(--color-white);
    text-align: left;
    padding: 1.5rem;
    font-family: var(--font-texto);
    font-size: 22px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
}
  
.faq-answer {
    background-color: var(--color-white);
    color: var(--color-text);
    padding: 1.5rem;
    font-family: var(--font-texto);
    font-size: 22px;
    display: none;
    border-top: 2px solid var(--color-purple);
    text-align: justify;
    padding-right: 7rem;
}
  
.faq-item.open .faq-question {
    background-color: var(--color-white);
    color: var(--color-purple);
    border-bottom: 1px solid #ccc;
}
  
.faq-item.open .faq-answer {
    display: block;
}
  
.faq-item.open .arrow {
    transform: rotate(180deg);
}
  
  /* Seta estilo */
.arrow {
    transition: transform 0.3s;
    font-size: 1.5rem;
    color: inherit;
}
  
.faq-item.open .arrow {
    transform: rotate(180deg);
}


/* imagem banner */
.foto-transformar {
    width: 100%;
}

    /* ----TABLET---- */
@media screen and (min-width: 1025px) and (max-width: 1300px) {

}    
         
    /* ----MOBILE---- */
@media screen and (max-width: 1024px) {
    .bloco-participe {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 0.5rem;
    }
    
    .bloco-texto, .bloco-imagem {
        flex: 1 1 100%;
    }
    
    .bloco-imagem img {
        width: 100%;
        border-radius: 20px;
        margin: 1rem 0;
        
    }
    
    .btn-participe {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        margin-left: 0;
    }      
    
    /* perguntas */
    .faq-question, .faq-answer{
        font-size: 18px;
        padding: 1.5rem;
    }

    /* seta */
    .arrow {
        font-size: 1rem;
    }

    /* imagem banner */
    .foto-transformar {
        width: 100%;
        height: 300px; 
        object-fit: cover;
        object-position: left center; 
    }
}
    