
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
    --color-blue: #4897D4;
    --color-purple: #5C2FCA;
    --color-green: #1E864B;
    --color-orange:#FE7005;
    --color-white: #fff;
    --font-texto: 'Inter', sans-serif;
    --font-titulo: 'Cairo', sans-serif;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    height: 80px;
}


nav a {
    text-decoration: none;
    color: #191919;
    font-weight: 500;
}

a {
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    margin: 1.8rem;
    transition: 0.3s;
}

a:hover {
    font-weight: bold;
    border-bottom: 4px solid #FE7005;
    transition: 0.3s;
}

.logo {
    height: 6.25rem;
    width: auto;
    padding-left: 5rem;
    padding-right: 6.25rem;
}

#btn-header {
    background-color: #FE7005;
    color: #fff;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    border: 1px solid #FE7005;
    transition: 0.3s;

}

#btn-header:hover {
    background-color: #fff;
    color: #FE7005;
    border: 2px solid #FE7005;
} */


.img-projetos {
    display: flex;
    background-image: url(../img/projetos.png);
    width: 100%;
    height: 350px;
    background-size: cover;
    margin: none;
    justify-content: center;
    justify-items: center;
}

.projetos {
    color: #ffffff;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 210px;
    background: var(--linear-gradient);
    bottom: 38%;
    border-radius: 15px;  
}

#container-projetos{
    margin-left: 8em;
    margin-right: 8em;
   
 }


.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.75rem;
    box-sizing: border-box;  
    
}



.projeto-conteudo {
    width: 100%;
    padding: 1.25rem;
    margin-top: 3em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;  
    justify-content: space-between;
      
}


.sustentabilidade-titulo {
    color: #FE7005;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    position: relative;
    display: inline-block;
    margin-top: 1.2em;
  }
  
  .sustentabilidade-titulo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 6px;
    width: 100%;
    background: var(--linear-gradient);
    border-radius: 15px;
  }

  
.capacitacao-titulo  {
    color: #FE7005;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    position: relative;
    display: inline-block;
    margin-top: 1.2em;
}


.capacitacao-titulo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 6px;
    width: 100%;
    background: var(--linear-gradient);
    border-radius: 15px;
}


.esporte-titulo  {
    color: #FE7005;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    position: relative;
    display: inline-block;
    margin-top: 1.2em;
}


.esporte-titulo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 6px;
    width: 100%;
    background: var(--linear-gradient);
    border-radius: 15px;
}

#imagem-conteudo{
    width: 486px;
    height: 380px;
    border-radius: 50px;    
}


.projeto-texto {
    text-align: justify;
    margin-top: 20px;
   
}


.projeto-texto p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    
}

#btn-saiba-mais {
    padding: 0.625rem 1rem;
    border-radius: 8px;
    background-color: #FE7005;
    border: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    float: right;
    font-size: 20px;

}


.transforme-vidas{
    background-color: #4897D4;

}


.foto-transformar{
    width: 100%;

}





/* footer {
    background-color: #0e0e0e;

}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #4897D4;

}

.footer-logo img {
    width: 175px;

}

.footer-logo p {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    font-family: Cairo;
    margin-top: 20px;

}

.redes-sociais .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.redes-sociais .nav-bar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;

}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.redes-sociais .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    width: 35%;
    font-weight: 400;
    padding-bottom: 30px;

}

.redes-sociais .redes p {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 400;

}

.redes-container a {
    color: white;
    padding: 0;
    margin: 5px;
    font-size: 24px;
    font-weight: 400;

}

.direitos {
    background-color: rgb(25, 25, 25, 0.95);
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    
} */
