@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
    --color-blue: #4897D4;
    --color-purple: #5C2FCA;
    --color-green: #1E864B;
    --color-orange:#FE7005;
    --color-clean: #F9F9F9;
    --color-white: #fff;
    --color-black: #000;
    --font-texto: 'Inter', sans-serif;
    --font-titulo: 'Cairo', sans-serif;
}

/* banner pagina */
.page-img {
    background-image: url(../img/sobre-nos.png);
}

/* texto sobre */
.subtitulo{
    text-align: center;
    align-items: center;
    margin-top: 2%;
    color: var(--color-purple);
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 36px;
    font-family: var(--font-titulo);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.container-sobreNos p {
    text-align: justify;
    margin-left: 2.5rem;
    margin-right: 2.5rem;  
}

.container-sobreNos #bold {
    text-align: center;
}

/* visao, missao e valores */

.titulos {
    position: relative;
    display: inline-block; /* isso limita a linha ao tamanho do texto */
    margin: 0 auto;
}

.container-missao {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;
    z-index: 1;
}
  
.caixas-missao {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 2rem;
}
  
.container-missao::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #d9d9d9;
    z-index: 0;
}
  
.missao-box {
    width: 384px;
    max-width: 100%;
    height: 374px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    border-bottom: 1.1vh solid var(--color-orange);
    border-right: 1.1vh solid var(--color-orange);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 2;
    margin-bottom: 5%;
}
  
.missao-box h2 {
    font-family: var(--font-titulo);
    font-size: 42px;
    font-weight: 800;
    color: var(--color-white);
    margin: 1rem 0 1rem 0;
}
  
.missao-box p {
    font-family: var(--font-texto);
    font-size: 15px;
    color: var(--color-white);
    text-align: center;
    line-height: 1.4;
    padding: 0 0;
}
  
#missao {
    background-color: var(--color-green);
}
  
#visao {
    background-color: var(--color-purple);
}
  
#valores {
    background-color: var(--color-blue);
}
  
.icone {
    width: 100px;
    margin-top: 15px;
}

/* NOSSA EQUIPE */
#nossa-equipe {
    text-align: center;
    padding: 5rem 2rem;
}

#equipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.membro { 
    width: 282px;
    height: 551px;
    background-image: url('../img/maos.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse
}

.membro-box {
    height: 401px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    transition: 0.5s;   
}

.membro-box img{
    border-radius: 50%;
    object-fit: cover;
}

.membro-box-btn {
    border: none;
    background: rgba(0, 0, 0, 0.836);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: var(--color-white);
    height: 401px;
    width: 282px;
    z-index: 2;
    position: absolute;
    border-radius: 30px;
    transition: 0.5s;
}

#membro-1, #membro-5 {
    background-color: var(--color-purple);
}

#membro-2{
    background-color: var(--color-blue);
}

#membro-3 {
    background-color: var(--color-green);
}

#membro-4 {
    background-color: var(--color-orange);
}

.membro-box h3{
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: 24px;
    margin-top: 15px;
}

.membro-box p{
    font-family: var(--font-texto);
    font-size: 20px;
    margin-top: -5px;
}

.membro-box:hover {
    cursor: pointer;
    transition: 0.5s;
}

.membro-box:hover .membro-box-btn {
    opacity: 1;
    transition: 0.5s;   
}

/* caixa js */
.popup-texto {
    text-align: justify;
    font-family: var(--font-texto);
    padding: 1% 30px;
    margin: 30px;
    max-height: 400px;
    overflow-y: auto;
    white-space: pre-line;
}

#popup-texto {
    font-size: 15px; 
    line-height: 1.6;
    font-family: var(--font-texto);
    white-space: pre-line;
}
  
.popup-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    min-height: 70%;
    max-width: 90%;
    background-color: #ffffff;
    margin: auto;
    border-radius: 30px;
    border: 1px solid var(--color-purple);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 50%;
    transform: translate(-50%, 15%);
}
  
.popup-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-right: 2px solid var(--color-purple);
}

.popup-img img {
    width: 180px;           
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 4px solid var(--color-purple); */
}

.popup-img h3{
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: 24px;
    margin-top: 15px;
}

.popup-img p{
    font-family: var(--font-texto);
    font-size: 20px;
}

.popup-container i {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: var(--color-purple);
    cursor: pointer;
    z-index: 1001; 
}
  
.open-popup {
    display: flex;
}

.popup-container.open-popup {
    display: flex;
}

    /* ----TABLET---- */
@media screen and (min-width: 1025px) and (max-width: 1300px) {

}    
         
    /* ----MOBILE---- */
@media screen and (max-width: 1024px) {
  .subtitulo {
    font-size: 24px;
  }  
  
  /* missao.. */
  .caixas-missao {
    flex-direction: column;
    background: none;
    padding: 0;
    gap: 0;
  }

  .container-missao::after {
    display: none;
  }

  .missao-box {
    width: 100%;
    height: auto;
    border-radius: 0;
    border: none;
    padding: 2rem 2rem;
    margin-bottom: 0;
  }

  #missao {
    background-color: var(--color-green);
  }

  #visao {
    background-color: var(--color-purple);
  }

  #valores {
    background-color: var(--color-blue);
  }

  .missao-box h2 {
    font-size: 32px;
  }

  .icone {
    margin-top: 10px;
  }

  /* caixa js */
  .popup-container {
    flex-direction: column;
    padding: 20px;
    width: 95vw;
    transform: translate(-50%, 5%);
    max-height: 90vh;
    overflow-y: auto;
  }

  .popup-img {
    border: none;
    padding: 20px 0 10px 0;
  }

  .popup-img img {
    width: 120px;
    height: 120px;
  }

  .popup-img h3 {
    font-size: 20px;
  }

  .popup-img p {
    font-size: 16px;
  }

  .popup-texto {
    margin: 0;
    padding: 0 10px 20px;
    font-size: 14px;
  }

  #popup-texto {
    font-size: 14px;
  }

  .popup-container i {
    top: 10px;
    right: 15px;
    font-size: 26px;
  }

}
    