@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);
    --color-blue: #4897D4;
    --color-purple: #5C2FCA;
    --color-green: #1E864B;
    --color-orange:#FE7005;
    --color-clean: #F9F9F9;
    --color-white: #fff;
    --color-black: #000;
    --font-texto: 'Inter', sans-serif;
    --font-titulo: 'Cairo', sans-serif;
}


/* banner pagina */
.page-img {
    background-image: url(../img/sobre-nos.png);
}



.titulo-sobreNos{
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: #5C2FCA;
    text-align: center;
    align-items: center;
    margin: 2%;
    font-size: 36px;
    position: relative;
}

.texto-sobreNos p {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #191919;
    margin: 20px;
    text-align: justify;
    margin-left: 5rem;
    margin-right: 5rem;

}

.texto-sobreNos #bold {
    text-align: center;
}




.container-missao {
    display: flex;
    flex-direction: column; 
    margin-top: 5rem;
}

.container-missao h1{
    margin: 0 auto 8rem auto;
}

.caixas-missao{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 293px;
    align-items: center;
    background-color: #d9d9d9;
    position: relative;  
}

.caixas-missao h2{
    position: relative;
    font-family: 'Cairo' sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    margin-top: auto;  
}

.caixas-missao p {
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2.3em;
    padding: 20px;

}

.icone{
    width: 100px;
    text-align: center;
    align-items: center;
    color: #ffffff ;
    margin-top: 2.5%;

}

#missao{
    width: 384px;
    height: 374px;
    background-color: #1E864B;
    border-radius: 15%;
    text-align: center;
    position: relative;
    /* margin-top: -15em; */
    border-bottom-style: solid;
    border-bottom-width: 1vh;
    border-bottom-color: #FE7005;
    border-right-style: solid;
    border-right-width: 1vh;
    border-right-color: #FE7005;

}

#visao{
    width: 384px;
    height: 374px;
    background-color: #5C2FCA;
    border-radius: 15%;
    text-align: center;
    position: relative;
    /* margin-top: -15em; */
    border-bottom-style: solid;
    border-bottom-width: 1vh;
    border-bottom-color: #FE7005;
    border-right-style: solid;
    border-right-width: 1vh;
    border-right-color: #FE7005;


}

#valores{
    width: 384px;
    height: 374px;
    background-color: #4897D4;
    border-radius: 15%;
    text-align: center;
    position: relative;
    /* margin-top: -15em; */
    border-bottom-style: solid;
    border-bottom-width: 1vh;
    border-bottom-color: #FE7005;
    border-right-style: solid;
    border-right-width: 1vh;
    border-right-color: #FE7005;


}




#nossa-equipe {
    text-align: center;
    padding: 5rem 2rem;
}

#equipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.membro { 
    width: 282px;
    height: 551px;
    background-image: url('../img/maos.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse
}

.membro-box {
    height: 401px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: 0.5s;
    
     
}


.membro-box-btn {
    border: none;
    background: rgba(0, 0, 0, 0.836);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #ffffff;
    height: 401px;
    width: 282px;
    z-index: 2;
    position: absolute;
    border-radius: 30px;
    transition: 0.5s;
}


#membro-1, #membro-6 {
    background-color: #5C2FCA;
}

#membro-2, #membro-7 {
    background-color: #4897D4;
}

#membro-3, #membro-8 {
    background-color: #1E864B;
}

#membro-4, #membro-5 {
    background-color: #FE7005;
}

.membro-box:hover {
    cursor: pointer;
    
    transition: 0.5s;

}

.membro-box:hover .membro-box-btn {
    opacity: 1;
    transition: 0.5s;
    
}


    
.popup-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 538px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 30px;
    border: 1px, solid #5C2FCA;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 15%);
    display: none;
    
}




.popup-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 0px;
    border-right: 2px solid #5C2FCA;
}

.popup-texto i {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    
}

.popup-texto {
    text-align: justify;
    font-family: 'inter', sans-serif;
    padding: 30px;
    margin: 30px;
    
    font-size: 16px;
    font-weight: 400;
}

.popup-container i {
    translate: -20px -235px;
    font-size: 30px;
    color: #5C2FCA;
    cursor: pointer;
}

.open-popup {
    display: flex;
}

