@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
}

nav a {
    text-decoration: none;
    color: #191919;
    font-weight: 500;
}

a {
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    margin: 1.8rem;
}

a:hover {
    font-weight: 600;
    opacity: 0.7;
}

#logo {
    height: 6.25rem;
    width: auto;
    padding-left: 5rem;
    padding-right: 6.25rem;
}

#btn-header {
    background-color: #FE7005;
    color: #fff;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 120px;

}

.redes-header a {
    color: #191919;
    padding: 0;
    margin: 5px;
    font-size: 24px;
    font-weight: 400;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.75rem;
    box-sizing: border-box;
}

.content {
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.titulo-container {
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
    color: #FE7005;
    text-align: center;
    position: relative;
    font-size: 64px;
    margin-bottom: 30px;
}

.titulo-container::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 640px;
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
}

.texto-container {
    text-align: justify;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}

.texto-container p {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

#subtitulo {
    color: #5C2FCA;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Cairo', sans-serif;

}

#img-container {
    min-width: 25vw;
    width: 100%;
    border-radius: 50px;


}

#btn-saiba-mais {
    padding: 0.625rem 1rem;
    border-radius: 8px;
    background-color: #FE7005;
    border: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    float: right;
    font-size: 20px;
}

.container-impacto {
    width: 100%;
    height: 400px;
    background-image: url("../img/impacto.png");
    background-size: cover;
    margin: none;
    justify-content: center;
    justify-items: center;
    height: 500px;

}

.titulo-impacto {
    color: #ffffff;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    position: relative;

}

.titulo-impacto::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 217px;
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
}

.container-dados {
    display: flex;
    color: #ffffff;
    font-size: 15px;
    font-family: "inter";
    justify-content: space-around;
    margin: 10%;

}

.dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-dados {
    color: #4897D4;
    font-size: 64px;
    font-family: "cairo";
    font-weight: 800;

}

.container-dados p {
    color: #ffffff;
    font-size: 24px;
    font-family: "cairo";
    text-align: center;
}

.container-loja h1 {
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
    color: #FE7005;
    text-align: center;
    margin: 2%;
    font-size: 55px;
    position: relative
}

.container-loja h1::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 460px;
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
}

.titulo-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.texto-loja {
    color: black;
    font-size: 20px;
    font-family: 'inter', sans-serif;
    text-align: center;
    margin: 0;
    font-weight: 400;
    width: 70%;
}

.titulo-produto {
    align-items: center;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 0px;
}

.preço {
    color: #5C2FCA;
    font-size: 64px;
    font-family: "cairo";
    font-weight: 800;
    margin: 0;
    align-items: center;

}

.btn-loja {
    background-color: #FE7005;
    color: #f9F9F9;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.img-camiseta {
    width: 500px;
    align-items: center;
    text-align: center;
    margin: 13%;
    z-index: 2;
}

.img-caneca {
    display: flex;
    width: 500px;
    margin: 10%;
    padding-bottom:230px;
}

.camiseta {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    margin-bottom: 0;

}

.wave {
    padding: 0;
    margin: 0;
    background-color: #D9D9D9;
    
}
.caneca {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: end;
    background-color: #D9D9D9;

    

}

.container-projetos {
    display: flex;
    width: 100%;
    background-color: #F9F9F9;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin: auto;
}

.titulo-projetos {
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
    color: #FE7005;
    text-align: center;
    margin: 2%;
    font-size: 64px;
    position: relative;

}

#titulo-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-projetos::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 460px;
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
}

.text-projetos {
    color: black;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    width: 80%;
}

.container-projetos {
    width: 75%;
    margin-bottom: 200px;
}

.container-projetos img {
    width: 300px;
    height: 200px;
    opacity: 70%;
    border-radius: 5%;
}

.sustentabilidade {
    text-align: center;
    background-color: #1e864b;
    border-radius: 5%;
}

.profissional {
    text-align: center;
    background-color: #5c2fca;
    border-radius: 5%;
}

.cultura {
    text-align: center;
    background-color: #4897D4;
    border-radius: 5%;
}

.legenda {
    color: #F9F9F9;
    font-size: 20px;
    font-family: '' "cairo";
}

.nos-acompanhe {
    margin-top: 50px;
    position: relative;

}

.nos-acompanhe h1 {
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
    color: #FE7005;
    text-align: center;
    margin: 2%;
    font-size: 64px;
    position: relative;
    margin-bottom: 50px;
}

.nos-acompanhe h1::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 815px;
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
}

.moral-2 {
    height: 497px;
    width: 100%;
    background-color: #4897D4;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
    padding-top: 0px;

}

.moral-2 a {
    background-color: #ffffff;
    padding: 0px 10px 10px 120px;
    width: 384px;
    height: 58px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 35px;
    display: flex;
}

.icone {

    width: 100px;
    position: absolute;
    top: -10px;
}

.moral2-insta {
    translate: 0px -14px;
}

.container-img {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #4897D4;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
}

.moral2-img img {
    border-radius: 15px;
}

.casa-formacao {
    height: 497px;
    width: 100%;
    background-color: #5C2FCA;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
    padding-top: 0px;

}

.casa-formacao .icone {
    rotate: 24deg;
    top: -20px;
    right: 20px;
}

.casa-formacao .container-img {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #5C2FCA;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;

}

.casa-insta {
    display: flex;
    justify-content: right;
    translate: -70px -15px;
}

.casa-insta a {
    background-color: #ffffff;
    padding: 0px 10px 10px 25px;
    width: 720px;
    height: 58px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 35px;
    display: flex;

}

.parceiros h1 {
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
    color: #FE7005;
    text-align: center;
    margin: 2%;
    font-size: 64px;
    position: relative;
    margin-bottom: 50px;
}

.parceiros h1::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 255px;
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
}

footer {
    background-color: #0e0e0e;

}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #4897D4;
}

.footer-logo img {
    width: 175px;
}

.footer-logo p {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    font-family: Cairo;
    margin-top: 20px;
}

.redes-sociais .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.redes-sociais .nav-bar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-sociais .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    width: 35%;
    font-weight: 400;
    padding-bottom: 30px;

}

.redes-sociais .redes p {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.redes-container a {
    color: white;
    padding: 0;
    margin: 5px;
    font-size: 24px;
    font-weight: 400;
}

.direitos {
    background-color: rgb(25, 25, 25, 0.95);
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}