@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
}

nav a {
    text-decoration: none;
    color: #191919;
    font-weight: 500;
}

a {
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    margin: 1.8rem;
}

a:hover {
    font-weight: 600;
    opacity: 0.7;
}

#logo {
    height: 6.25rem;
    width: auto;
    padding-left: 5rem;
    padding-right: 6.25rem;
}

#btn-header {
    background-color: #FE7005;
    color: #fff;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;


}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.75rem;
    box-sizing: border-box;
}

.content {
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-container {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #FE7005;
    text-align: center;
}

.texto-container {
    text-align: justify;
    font-family: 'Inter', sans-serif;
}

#subtitulo {
    color: #5C2FCA;
    font-weight: 600;
}

#img-container{
    max-width: 50vw;
    width: 100%;
    border-radius: 8px;

}

#btn-saiba-mais {
    padding: 0.625rem 1rem;
    border-radius: 8px;
    background-color: #FE7005;
    border: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    float: right;
}

.container-impacto {
    width: 100%;
    height: 400px;
    background-image: url("../img/impacto.png");
    background-size: cover;
    margin: none;
    justify-content: center;
    justify-items: center;

}

.titulo-impacto{
    color: #ffffff;
    font-family: "cairo";
    text-align: center;
    font-weight: 600;
    font-size: 45px;

}

.container-dados{
    display: flex;
    color: #ffffff;
    font-size: 15px;
    font-family: "inter";
    justify-content: space-around;
    margin: 10%;

}

.titulo-dados {
    color: #4897D4;
    font-size: 45px;
    font-family:"cairo";
    font-weight: 900;
    
}

.container-dados p {
    color: #ffffff;
    font-size: 15px;
    font-family: "inter";
    text-align: center;
}

.container-loja h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #FE7005;
    text-align: center;
    margin:2%;
}

.texto-loja {
    color: black;
    font-size: 15px;
    font-family: "inter";
    text-align: center;
    margin: 0;
}

.titulo-produto{
    align-items: center;
    text-align: center;
}

.preço{
    color: #5C2FCA;
    font-size: 45px;
    font-family:"cairo";
    font-weight: 900;
    margin: 0;
    align-items: center;
}

.btn-loja {
    background-color: #FE7005;
    color: #f9F9F9;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.img-camiseta{
    width: 300px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin: 13%;
}

.img-caneca{
    display: flex;
    width: 300px;
    width: 300px;
    margin: 10%;
}

.camiseta{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
}

.caneca{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: end;
    background-color: #D9D9D9;
}

.container-projetos{
    display: flex;
    width: 100%;
    background-color: #F9F9F9;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin: auto;    
}

.titulo-projetos{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #FE7005;
    text-align: center;
    margin: 2%;
}

.text-projetos{
    color: black;
    font-size: 15px;
    font-family: "inter";
    text-align: center;
}

.container-projetos img {
    width: 300px;
    height: 200px;
    opacity: 70%;
    border-radius: 5%;
}

.sustentabilidade {
    text-align: center;
    background-color: #1e864b; 
    border-radius: 5%; 
}

.profissional {
    text-align: center;
    background-color: #5c2fca;
    border-radius: 5%; 
}

.cultura {
    text-align: center;
    background-color: #4897D4;
    border-radius: 5%;
}

.legenda{
    color: #F9F9F9;
    font-size: 20px;
    font-family: '' "cairo";
}

.nos-acompanhe {
    margin-top: 50px;
    position: relative;
}

.moral-2 {
    height: 497px;
    width: 100%;
    background-color: #4897D4;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
    padding-top: 0px;
    
}

.moral-2 a {
    background-color: #ffffff;
    padding: 0px 10px 10px 120px;
    width: 384px;
    height: 58px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 35px;
    display: flex;
    
}

.icone {
    
    width: 100px;
    position: absolute;
    top: -10px;
}

.moral2-insta {
    translate: 0px -14px;
}

.container-img{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color:  #4897D4;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 120px; 
    padding-right: 120px; 
    
    
}

.moral2-img img {
    border-radius: 15px;
}

.casa-formacao {
    height: 497px;
    width: 100%;
    background-color:#5C2FCA;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
    padding-top: 0px;
    
}

.casa-formacao .icone {
    rotate: 24deg;
    top: -20px;
} 

.casa-formacao .container-img {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color:  #5C2FCA;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 120px; 
    padding-right: 120px; 
    
}

.casa-insta {
    display: flex;
    justify-content: right;
    translate: -50px -15px;
}
.casa-insta a {
    background-color: #ffffff;
    padding: 0px 10px 10px 25px;
    width: 720px;
    height: 58px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 35px;
    display: flex;
    
}


footer {
    background-color: #0e0e0e;

}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #4897D4;
}

.footer-logo img {
    width: 175px;
}

.footer-logo p {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    font-family: Cairo;
    margin-top: 20px;
}

.redes-sociais .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.redes-sociais .nav-bar a {
    text-decoration: none;
    color:#ffffff;
    font-size: 24px;
    font-weight: 400;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redes-sociais .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    width: 35%;
    font-weight: 400;
    padding-bottom: 30px;
    
}

.redes-sociais .redes p {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.redes-container a {
    color: white;
    padding: 0;
    margin: 5px;
    font-size: 24px;
    font-weight: 400;
}

.direitos {
    background-color: rgb(25, 25, 25, 0.95);
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

