:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-container {
    color: #740808;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    position: relative;

}