:root {
    --linear-gradient: linear-gradient(90deg, #4897D4, #1E864B, #FE7005, #5C2FCA);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 400px;
    background-image: url("/assets/img/contato-fundo.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin: none;
    justify-content: center;
    justify-items: center;
    height: 300px;
}

.titulo-container {
    color: #ffffff;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    position: relative;

}

.titulo-container::before {
    position: absolute;
    content: '';
    height: 6px;
    width: 217px;
    background: var(--linear-gradient);
    bottom: -8px;
    border-radius: 15px;
}

.img {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #5C2FCA;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
}