@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: "Cairo", sans-serif;
    text-decoration: none;
    color: black;
    padding: 15px;
}

a:hover {
    font-weight: 600;
}

#logo {
    height: 6.25rem;
    width: auto;
    padding-left: 80px;
    float: left;
}