@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
    padding: 0;
}

a {
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin: 1.8rem;
}

a:hover {
    font-weight: 600;
}

#logo {
    height: 6.25rem;
    width: auto;
    padding-left: 5rem;
    padding-right: 6.25rem;
}

#btn-header {
    background-color: #FE7005;
    color: #fff;
    font-family:"Cairo", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    height: 2.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}
