@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding-right: 80px;
}

a {
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin: 30px;
}

a:hover {
    font-weight: 600;
}

#logo {
    height: 100px;
    width: auto;
    padding-left: 60px;
    padding-right: 120px;
}

#btn-header {
    background-color: #FE7005;
    color: #fff;
    font-family:"Cairo", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}